html {
    background-color: #d3eeff;
}

h1 {
    font-family: Arial, sans-serif;
    color: #424b54;
}

header {
    background-color: #f0f0f0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

#me {
    display: inline-flex;
    align-items: center;
}

header h1, #face {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#face {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.nav {
    display: inline;
}

.navbar li {
    display: inline;
    margin-right: 3px;
    background-color: #424b54;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.25em;
}

#this_page {
    background-color: #80909F;
}

.navbar li:hover {
    background-color: #80909F;
}

.navbar li:active a {
    color: #d3eeff;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

main {
    clear: both;
}

footer {
    clear: both;
    text-align: center;
    font-size: 0.8em;
    color: #666;
    background-color: #f0f0f0;
    width: 100%;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}